:root {
    --clr-primary: #0384FD;
    --clr-primary-light: #B4DDFF ;
    --clr-secondary: #9892E4 ;
    --clr-dark: #333333 ;
    --clr-accent: #FDC15F ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

section {
    padding: 3rem 0;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 25px;

    padding: 5% 10%;
}

p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    padding: 2rem 0;
}

h3 {
    font-size: 1.5rem;
}

.card {
    border-radius: 30px;

    padding: 2rem;
    margin-bottom: 1.5rem;

    background-color: white;
}

.font-big {
    font-size: 5rem;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-light {
    background-color: var(--clr-primary-light);
}

.bg-secondary {
    background-color: var(--clr-secondary);
    color: white;
}

.bg-dark {
    background-color: var(--clr-dark);
    color: white;
}

.bg-white {
    background-color: white;
}

.btn-white {
    background-color: white;
    color: var(--clr-dark);
}

.btn-secondary {
    background-color: var(--clr-secondary);
    color: white;
}

.btn-blue {
    background-color: var(--clr-primary);
    color: white;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex-grow: 1;
    flex-basis: 100%;
}

/* nav and links style  */

nav {
    padding: .5rem 0;
    color: white;
    margin-bottom: 2rem;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: none;
}

.nav-links > ul {
    list-style: none;
    display: flex;
}

.nav-links > ul > li {
    margin-right: 1rem;
}

.nav-links > ul > li > a {
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
}

.header-cards .card {
    color: var(--clr-primary);
}

.header-cards .card > * {
    margin-bottom: 1rem;
}

.header-cards .card p {
    color: var(--clr-dark)
}

.header-cards .card button {
    width: 70%;
    letter-spacing: 1px;
}

.header-cards .card img {
    margin-bottom: -2rem;
}

.planning .card {
    color: var(--clr-dark);
}

.planning .card > * {
    margin-bottom: 2rem;
}

.planning .card p {
    font-style: italic;
}

.planning .card > button {

    margin: 0;

    border-radius: 50%;
    padding: 1rem;

    color: var(--clr-dark);
}

.testimonials .card {
    text-align: center;

    font-size: larger;
}

.testimonials .card h3 {
    text-transform: uppercase;
}

.testimonials .card img {
    padding: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.benefits .card {
    color: var(--clr-secondary);
    padding: 2rem;
}

.benefits .card p {
    color: var(--clr-dark);
}

.benefits .card > * {
    padding-bottom: 1rem;
}

.benefits .card button {
    padding: .5rem 3rem;
}

.about-us-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-us-profile img {
    border-radius: 50%;
    width: 50%;
    position: relative;
}

/* .about-us-profile img::after {
    content: "ciao";
    font-size: 4rem;
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: red;
} */

.about-us-profile {
    color: var(--clr-secondary);
}

.get-started h2 {
    color: var(--clr-accent);
}

.get-started .btn-white {
    color: var(--clr-secondary);
}

footer {
    background-color: var(--clr-dark);
    color: white;
}

footer a {
    color: var(--clr-secondary);
}

footer .container > * {
    padding: 2rem;
}